.main img
{
    height: 200px;
    width: 200px;
    position: relative;
}
body 
{
    background-size: 1000px;
    background-image: url(background\ image\ revice.jpg);
}
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 600px;
    top: 50px;
    margin-bottom: 10px;
}
li  
{
    float: right;
    font-size: 20px;
    
}
li a 
{
    display: inline;
    padding: 20px;
    background-color: aquamarine;
    text-decoration: none;
}